doctype 5
html(lang="en")
  head
    title= pageTitle
    include home.css
  body
    h1 Bartender Bot

    #left.sidemenu
      p
        | Total Users: 
        =totalUsers
      p
        =uptime
      p
        a(href='/restart') Restart Bartender

    #right.sidemenu
      h2 Banned DJ's
      ul#banned-djs
        each user in bannedDjs
          li(class='user') #{user.username}, #{user.duration} hours
      h2 Banned Users
      ul#banned-users
        each user in bannedUsers
          li(class='user') #{user.username}

    #middle.content
      h2 Chat
      #chat
        each message in messages
          p(class='message') #{message}
